body{
	background: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 1100px;
	box-sizing: border-box;
	font-family: sans-serif;
	justify-content: center;
	align-items: center;
}
body::-webkit-scrollbar{
	width: 12px;
	background: rgb(10, 10, 150);
}
body::-webkit-scrollbar-thumb{
	background: rgb(150, 10, 10);
	border-radius: 5px;
}
.header{
	width: 100%;
	height: 65px;
	background: #323232;
	position: fixed;
}
.container1{
	max-width: 1100px;
	margin: auto;
}
.logo{
	color: #fff;
	float: left;
}
.menu{
	float: right;
	line-height: 50px;
}
.menu ul{
	display: flex;
	list-style: none;
}
.menu a{
	display: block;
	padding: 0px 20px;
	text-decoration: none;
	color: #fff;
	transition: all 500ms ease;
}
.menu a:hover{
	background: #fff;
	color: #323232;
}
.menu .submenu{
	background: #323232;
	box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
	display: none;
}
.menu .submenu2{
	background: #323232;
	box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
	display: none;
}
.menu .submenu li a{
	line-height: 50px;
}
.menu ul li a:hover + ul, .menu .submenu:hover{
	display: block;
}
.barra{
	background-color: #323232;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 400px;
	cursor: default;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}
.portada img{
	width: 100%;
	height: 370px;
	position: absolute;
	top: 65px;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.container2{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
}
.card{
	width: 350px;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	cursor: default;
	transition: all 400ms ease;

	position: relative;
	top: 450px;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido{
	padding: 15px;
	text-align: center;
}
.card .contenido p{
	line-height: 1.5;
	color: #6a6a6a;
}
.card .contenido h3{
	font-weight: 400;
	margin-bottom: 15px;
}
.card .contenido a{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #323232;
	letter-spacing: 4px;
	font-size: 24px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
}
.card .contenido a:hover{
	background: #323232;
	color: #fff;
	box-shadow: 0 0 10px #323232, 0 0 40px #323232, 0 0 80px #323232;
	transition-delay: 1s;
}
.card .contenido a span{
	position: absolute;
	display: block;
}
#span1{
	top: 0;
	left: -100%;
	width: 200px;
	height: 2px;
	background: linear-gradient(90deg,#323232,#323232);
}
.card .contenido a:hover #span1{
	left: 0;
	transition: 1s;
}
#span3{
	bottom: 0;
	right: -100%;
	width: 200px;
	height: 2px;
	background: linear-gradient(270deg,#323232,#323232);
}
.card .contenido a:hover #span3{
	right: 0;
	transition: 1s;
}
#span2{
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,#323232,#323232);
}
.card .contenido a:hover #span2{
	top: 0;
	transition: 1s;
}
#span4{
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,#323232,#323232);
}
.card .contenido a:hover #span4{
	bottom: 0;
	transition: 1s;
}
.footer{
	background-color: #323232;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 20px;
	color: #fff;
	text-align: center;
}